server: 
  port: 8888 
spring:
  application:
    name:  hisrun-config-repo
  cloud:
    config:
      server:
        git:
          uri: https://github.com/HyanSay/hisrun.git #GitHub上面的git仓库名字
 

